.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.advantages .container, .gallery .container, .staff .container, .social-media, .clients-list, .subscribe-button {
  display: flex;
  justify-content: space-between;
}

.address-list-link:hover, .address-list-link:focus, .navigation-list-link:hover, .navigation-list-link:focus, .backdrop, .contact-input, .form-icon, .form-field, .comment-field, .checkbox-icon, .social-media-link, .footer .social-media-link, .clients-list-link {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

body {
  padding-top: 80px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #757575;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3 {
  margin: 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery .container {
  margin-top: 50px;
}

.work-gallery .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.staff .container {
  margin-top: 50px;
}

.footer .container {
  display: flex;
}

.modal-button {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  border-style: none;
  margin: 0 auto;
  width: 200px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19231;
  letter-spacing: 0.03em;
}

.logo-web {
  color: #2196f3;
}

.logo-studio-dark {
  color: #000000;
}

.logo-studio-light {
  color: #ffffff;
}

.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}

.page-header .address {
  display: flex;
  margin-left: auto;
}

.footer .address {
  margin-top: 20px;
}

.address-list-link {
  display: flex;
  align-items: center;
}

.address-list-link:hover, .address-list-link:focus {
  color: #2196f3;
}

.address-light-theme {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: 0.02em;
  color: #757575;
}

.address-dark-theme {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .address-list-item:not(:first-child) {
  margin-top: 9px;
}

.page-header .address-list {
  display: flex;
}

.page-header .address-list-item + .address-list-item {
  margin-left: 50px;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.phone-icon {
  width: 10px;
  min-width: 10px;
  height: 16px;
}

.mail-icon {
  width: 16px;
  min-width: 16px;
  height: 12px;
}

.navigation-list-link {
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.page-header .navigation-list {
  display: flex;
  margin-left: 93px;
}

.page-header .navigation-list-item + .navigation-list-item {
  margin-left: 50px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.footer .title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: start;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.link-current {
  position: relative;
  color: #2196f3;
}

.link-current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  min-width: 100%;
  height: 4px;
  bottom: -32px;
  background-color: #2196f3;
  border-radius: 2px;
}

.backdrop {
  position: fixed;
  z-index: 105;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -200%);
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}

.close-modal-btn:hover, .close-modal-btn:focus {
  color: #2196f3;
}

.close-icon {
  width: 11px;
  min-width: 11px;
  height: 11px;
  fill: currentColor;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.contact-form {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-input {
  width: 100%;
  min-width: 100%;
  height: 40px;
  padding: 12px 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.contact-input:focus {
  outline-color: #2196f3;
}

.form-field-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  min-width: 18px;
  height: 18px;
  display: inline-block;
  fill: #000000;
}

.form-field:focus-within > .form-icon {
  fill: #2196f3;
}

.form-field:focus-within {
  color: #2196f3;
}

.comment-field {
  width: 100%;
  min-width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.comment-field:focus {
  outline-color: #2196f3;
}

.agreement-terms {
  text-decoration-line: underline;
  color: #2196f3;
  cursor: pointer;
}

.agreement-terms-label {
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  margin-top: 20px;
  text-align: end;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
}

.checkbox-input {
  margin-top: 20px;
  appearance: none;
}

.checkbox-input:checked + .checkbox-icon {
  background-color: #2196f3;
  border: none;
}

.checkbox-icon {
  width: 16px;
  min-width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.submit-button {
  display: block;
  width: 200px;
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.social {
  padding-top: 12px;
  margin-left: 85px;
}

.social-media {
  width: 206px;
  min-width: 206px;
  height: 44px;
  align-items: center;
  margin: 0 auto;
}

.footer .social-media {
  width: 100%;
  min-width: 100%;
  height: 44px;
}

.social-media-icons {
  width: 20px;
  min-width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  min-width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 0 auto;
  color: #afb1b8;
}

.social-media-link:hover, .social-media-link:focus {
  width: 44px;
  min-width: 44px;
  height: 44px;
  background-color: #2196f3;
  color: #ffffff;
}

.footer .social-media-item + .social-media-item {
  margin-left: 10px;
}

.footer .social-media-icons {
  fill: #ffffff;
}

.footer .social-media-link {
  width: 44px;
  min-width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-media-link:hover, .footer .social-media-link:focus {
  background-color: #2196f3;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #ffffff;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  width: 696px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advantages-list-title::before {
  content: "";
  display: block;
  width: 270px;
  min-width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
}

.advantages-list-item {
  width: 270px;
}

.details::before {
  background-image: url("../images/Advantages/antenna.svg"), linear-gradient(#f5f4fa, #f5f4fa);
}

.punctuality::before {
  background-image: url("../images/Advantages/clock.svg"), linear-gradient(#f5f4fa, #f5f4fa);
}

.planning::before {
  background-image: url("../images/Advantages/diagram.svg"), linear-gradient(#f5f4fa, #f5f4fa);
}

.technologies::before {
  background-image: url("../images/Advantages/astronaut.svg"), linear-gradient(#f5f4fa, #f5f4fa);
}

.gallery {
  padding-bottom: 94px;
}

.gallery-list-item {
  position: relative;
}

.gallery-label {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.text-wrapper {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.staff {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.staff-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
}

.staff-proffession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
}

.staff-list-item {
  text-align: center;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  min-width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
}

.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients-logo {
  fill: currentColor;
}

.logo-1 {
  width: 44px;
  min-width: 44px;
  height: 49px;
}

.logo-2 {
  width: 40px;
  min-width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  min-width: 41px;
  height: 43px;
}

.logo-4 {
  width: 80px;
  min-width: 80px;
  height: 42px;
}

.logo-5 {
  width: 59px;
  min-width: 59px;
  height: 47px;
}

.logo-6 {
  width: 88px;
  min-width: 88px;
  height: 45px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.form-wraper {
  margin-left: 93px;
  padding-top: 12px;
}

.subscribe-form {
  display: inline-flex;
  align-items: center;
}

.subscribe-form-input {
  width: 358px;
  min-width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  background-color: transparent;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-button {
  align-items: center;
  width: 200px;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: left;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.subscribe-button::after {
  content: "";
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-image: url("../images/icon-send.svg");
  fill: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */