.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    @extend %flex-sbtwn;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
  }

  &-list-link {
    display: flex;
    align-items: center;
    justify-content: center;

    @include box(170px, 90px);

    border: 1px solid $icons-color;
    color: $icons-color;
    border-radius: 4px;
    @extend %transition;

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
      color: $accent-color;
    }
  }

  &-logo {
    fill: currentColor;
  }
}

.logo-1 {
  @include box(44px, 49px);
}

.logo-2 {
  @include box(40px, 52px);
}

.logo-3 {
  @include box(41px, 43px);
}

.logo-4 {
  @include box(80px, 42px);
}

.logo-5 {
  @include box(59px, 47px);
}

.logo-6 {
  @include box(88px, 45px);
}
