.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  & .title {
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    color: $dark-theme-color;
    text-align: start;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $dark-theme-color;
}

.form-wraper {
  margin-left: 93px;
  padding-top: 12px;
}

.subscribe-form {
  display: inline-flex;
  align-items: center;

  &-input {
    @include box(358px, 50px);

    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: $dark-theme-color;
    background-color: transparent;

    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
}

.subscribe-button {
  @extend %flex-sbtwn;
  align-items: center;

  @include box(200px, 50px);

  margin-left: 12px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: $dark-theme-color;
  letter-spacing: 0.06em;
  text-align: left;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;

  &::after {
    content: "";

    @include box(24px);

    background-image: url("../images/icon-send.svg");
    fill: $dark-theme-color;
    background-repeat: no-repeat;
    background-position: center;
  }
}
