.gallery {
  padding-bottom: 94px;

  &-list-item {
    position: relative;
  }

  &-label {
    @include font(900, 14px, 16px, 0.03em);
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
  }
}

.text-wrapper {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include box(100%, 70px);

  background: rgba(47, 48, 58, 0.8);
}
