.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--dark-theme-color);
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header .navigation-list {
  display: flex;
  margin-left: 93px;
}

.page-header .navigation-list-item + .navigation-list-item {
  margin-left: 50px;
}

.page-header .address {
  display: flex;
  margin-left: auto;
}

.page-header .address-list {
  display: flex;
}

.page-header .address-list-item + .address-list-item {
  margin-left: 50px;
}

.address-light-theme {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.logo-studio-dark {
  color: var(--dark-logo-color);
}
