.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-title {
    width: 696px;
    text-align: center;
    font-family: $main-font;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $dark-theme-color;
    margin: 0 auto;
  }
}
