.address {
  font-family: $main-font;
  font-style: normal;
  font-size: 14px;

  .page-header & {
    display: flex;
    margin-left: auto;
  }

  .footer & {
    margin-top: 20px;
  }

  &-list-link {
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: $accent-color;
      @extend %transition;
    }
  }

  &-light-theme {
    @include font(500, 14px, 20px, 0.02em);
    color: $main-text-color;
  }
  &-dark-theme {
    @include font(400, 14px, 24px, 0.03em);
    color: $dark-theme-secondary-color;
  }
}

.footer .address-list-item:not(:first-child) {
  margin-top: 9px;
}

.page-header .address-list {
  display: flex;
}

.page-header .address-list-item + .address-list-item {
  margin-left: 50px;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.phone-icon {
  @include box(10px, 16px);
}

.mail-icon {
  @include box(16px, 12px);
}
