.link-current {
  position: relative;
  color: $accent-color;

  &::after {
    content: "";

    position: absolute;
    display: block;
    @include box(100%, 4px);
    bottom: -32px;

    background-color: $accent-color;
    border-radius: 2px;
  }
}
