.logo {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  &-web {
    color: $accent-color;
  }

  &-studio-dark {
    color: $dark-logo-color;
  }

  &-studio-light {
    color: $dark-theme-color;
  }
}
