.logo {
  font-family: $secondary-font;
  font-style: normal;
  @include font(700, 26px, 31px, 0.03em);

  &-web {
    color: $accent-color;
  }

  &-studio-dark {
    color: $dark-logo-color;
  }

  &-studio-light {
    color: $dark-theme-color;
  }
}
