.modal-button {
  display: block;
  font-family: $main-font;
  @include font(700, 16px, 30px, 0.06em);
  text-align: center;
  color: $dark-theme-color;
  background-color: $accent-color;
  border-style: none;
  margin: 0 auto;
  @include box(200px, 50px);

  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
}
