.navigation-list-link {
  display: block;
  color: $secondary-text-color;
  @include font(500, 14px, 16px, 0.02em);

  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
    @extend %transition;
  }
}
.page-header .navigation-list {
  display: flex;
  margin-left: 93px;
}

.page-header .navigation-list-item + .navigation-list-item {
  margin-left: 50px;
}
