.title {
  @include font(700, 36px, 42px, 0.03em);
  text-align: center;
  color: $secondary-text-color;

  .footer & {
    font-family: $main-font;

    @include font(700, 14px, 16px, 0.03em);

    color: $dark-theme-color;
    text-align: start;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
