$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$secondary-text-color: #212121;
$main-text-color: #757575;
$dark-theme-color: #ffffff;
$dark-theme-secondary-color: rgba(255, 255, 255, 0.6);
$dark-logo-color: #000000;
$accent-color: #2196f3;
$icons-color: #afb1b8;
